#divEncabezado {
  display: flex;
  flex-wrap: wrap;
  color: white;
  background-color: grey;
  font-weight: bold;
  width: 100%;
  height: 70px;
  border-color: chartreuse;
  border-radius: 3px;
  padding: 1px;
  margin: 5px 5px 3px 1px;
}

#divMenu1 {
  background-color: green;
  width: 40%;
  height: 20px;
  border-width: 40px rgb(163, 126, 126);
  align-self: flex-start;
  margin-left: 65%;
}
#divMenu2 {
  background-color: rgb(124, 24, 24);
  width: 60%;
  height: 20px;
  margin-left: 10%;
}
#divLogo {
  background-color: blue;
  width: 30%;
  height: 20px;
}

#divCentro {
  display: flex;
  width: 100%;
  height: 90px;
  color: white;
  font-weight: bold;
  border-color: black;
  border-radius: 3px;
  margin: 1px 5px 8px 1px;
}

#divIzquierda {
  background-color: rgb(71, 61, 61);
  width: 33%;
  height: 95%;
  border-radius: 3px;
  padding: 2px;
  margin-right: 8px;
}
#divCentro1 {
  background-color: rgb(26, 159, 204);
  width: 33%;
  height: 95%;
  border-radius: 3px;
  padding: 2px;
  margin-right: 8px;
}
#divDerecha {
  background-color: rgb(247, 133, 92);
  width: 33%;
  height: 95%;
  border-radius: 3px;
  padding: 2px;
}
#divCentro2 {
  display: flex;
  width: 100%;
  height: 120px;
  color: white;
  font-weight: bold;
  border-color: black;
  border-radius: 3px;
  margin: 1px 1px 5px 1px;
}
#divIzquierda2 {
  background-color: rgb(37, 90, 37);
  width: 67.5%;
  height: 95%;
  border-radius: 3px;
  padding: 2px;
  margin-right: 8px;
}
#divDerecha2 {
  background-color: rgb(211, 153, 44);
  width: 33%;
  height: 95%;
  border-radius: 3px;
  padding: 2px;
}
#divPie {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 60px;
  color: white;
  font-weight: bold;
  background-color: lightseagreen;
  border-color: black;
  border-radius: 3px;
  margin: 1px 10px 3px 1px;
}
#divElemento {
  background-color: blue;
  width: 30%;
  height: 20px;
  align-self: center;
  margin-left: auto;
}
